# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# VS Code workspace
.vscode/

# VS-specific folders
.vs/

# SQLite and local DBs
*.sqlite
*.sqlite-journal

# Others
*.log
*.tmp
*.DS_Store