################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/nauka_C_Sharp/FileContentIndex/f35222be-4b95-4c32-8804-fd93bcb70c4c.vsidx
/.vs/nauka_C_Sharp/FileContentIndex/e94b7638-74bf-4111-b60d-865cc0f020bc.vsidx
/.vs/nauka_C_Sharp/FileContentIndex/65c3b51d-be73-4595-81a5-82a760cfe19c.vsidx
/.vs/nauka_C_Sharp/FileContentIndex/fe07f527-e8eb-498b-a4ee-807cca132a89.vsidx
/.vs/nauka_C_Sharp/FileContentIndex/aa25e3b2-3f19-4951-82b5-1d96d6fd5b90.vsidx
/.vs/nauka_C_Sharp/FileContentIndex/1fdc7182-d352-42c2-9d3d-2afe805eddf1.vsidx
/.vs/nauka_C_Sharp/FileContentIndex/36f4b086-d69d-4bd7-892e-0a23e2234f1c.vsidx
